/*
-phone
-tab-port
-tab-lend
-big-desktop
*/
* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: #54483a; }

::selection {
  background-color: #101d2c;
  color: #c69963; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.heading__primary {
  color: #101d2c;
  backface-visibility: hidden; }
  .heading__primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading__primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #101d2c;
  letter-spacing: 0.2rem; }

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #101d2c;
  text-transform: uppercase; }

@media only screen and (max-width: 600px) {
  .heading__primary--main {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
    text-align: center; }
  .heading__primary--sub {
    font-size: 1.5rem;
    letter-spacing: inherit;
    font-weight: 400;
    text-transform: uppercase; }
  .heading-secondary {
    font-size: 2rem; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 3rem;
  height: 10rem;
  background-color: #54483a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0rem 1.5rem 3rem rgba(0, 0, 0, 0.6); }
  .navbar__logo {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer; }
    .navbar__logo__link {
      height: 4rem; }
  .navbar__img {
    height: 4rem; }
  .navbar__text {
    text-transform: uppercase;
    font-size: 2rem;
    color: #101d2c; }
  .navbar__list {
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    margin-right: 1.5rem;
    font-weight: 400; }
  .navbar__link:link, .navbar__link:visited {
    margin: 1.5rem 3rem;
    text-decoration: none;
    color: #101d2c;
    transition: all 0.2s; }
  .navbar__link:hover, .navbar__link:active {
    color: #c69963;
    transform: rotate(5deg) scale(1.3); }
  .navbar__checkbox {
    display: none; }
  .navbar__button {
    display: none;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 1rem;
    z-index: 20; }
  .navbar__icon {
    position: relative;
    margin-top: 1.9rem; }
    .navbar__icon, .navbar__icon::before, .navbar__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #101d2c;
      display: inline-block; }
    .navbar__icon::before, .navbar__icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s; }
    .navbar__icon::before {
      top: -0.8rem; }
    .navbar__icon::after {
      top: 0.8rem; }
  .navbar__button:hover .navbar__icon::before {
    top: -1rem; }
  .navbar__button:hover .navbar__icon::after {
    top: 1rem; }
  .navbar__checkbox:checked + .navbar__button .navbar__icon {
    background-color: transparent; }
  .navbar__checkbox:checked + .navbar__button .navbar__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navbar__checkbox:checked + .navbar__button .navbar__icon::after {
    top: 0;
    transform: rotate(-135deg); }

@media only screen and (max-width: 1100px) {
  .navbar {
    font-size: 1.5rem;
    padding-top: 5rem;
    transition: all 0.3s; }
    .navbar__logo {
      padding-bottom: 5rem; }
    .navbar__list {
      display: none; }
    .navbar__item {
      padding-bottom: 4rem; }
    .navbar__link {
      font-size: 2.5rem;
      text-transform: uppercase; }
    .navbar__button {
      display: block; }
  .btn-nav {
    display: none; }
  .active {
    padding-top: 1.4rem;
    display: inline-block;
    height: 120vh;
    z-index: 100; }
  .active__list {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .active__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    text-transform: uppercase; } }

.card-section__options {
  display: flex; }

.card-section__option {
  display: flex;
  padding: 2rem 4rem;
  background-color: #101d2c;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer; }
  .card-section__option:not(:last-child) {
    border-right: 1px solid #c69963; }
  .card-section__option:hover,
  .card-section__option:hover > * {
    background-color: #c69963;
    color: #101d2c;
    border: 1px solid #c69963;
    margin: -1.5px 0; }
  .card-section__option--text {
    font-size: 1.6rem;
    font-weight: 400;
    color: #c69963;
    padding: 2rem 0;
    overflow: hidden; }

.card-section__option--icon {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #101d2c;
  border-radius: 50%;
  background-color: #101d2c;
  fill: #101d2c; }
  .card-section__option--icon:active, .card-section__option--icon:focus {
    fill: #c69963; }

.checked {
  background-color: #c69963 !important;
  color: #101d2c !important; }
  .checked h3 {
    color: #101d2c !important; }
  .checked svg {
    fill: #101d2c;
    background-color: #c69963;
    border: 1px solid transparent; }

@media screen and (max-width: 600px) {
  .card-section__option {
    padding: 1rem 1rem; } }

@media screen and (max-width: 900px) {
  .card-section__options {
    display: block; }
  .card-section__option:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid #c69963; } }

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__logo__image {
    height: 10rem;
    width: auto; }

.footer__content {
  display: flex; }

.footer__nav {
  display: flex;
  width: 50%;
  justify-content: center; }

.footer__list {
  border-top: 1px solid #b28451;
  list-style: none; }

.footer__item {
  display: inline-block;
  margin-top: 2rem; }
  .footer__item:not(:last-child) {
    margin-right: 2rem; }

.footer__link:visited, .footer__link:link {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #c69963;
  transition: all 0.2s; }

.footer__link:hover, .footer__link:active {
  color: #b28451;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  transform: rotate(5deg) scale(1.3); }

.footer__copyright {
  width: 50%;
  color: #c69963;
  display: flex;
  justify-content: flex-end; }
  .footer__copyright__text {
    border-top: 1px solid #c69963;
    width: 70%;
    display: inline;
    margin-right: 10rem;
    hyphens: auto;
    font-size: 1.4rem;
    font-weight: 400; }

@media screen and (max-width: 1100px) {
  .footer {
    padding: 5rem 0; }
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer__nav {
    width: 100vw; }
  .footer__copyright {
    width: 100vw;
    margin-top: 4rem;
    max-width: 425px; }
    .footer__copyright__text {
      border-top: none;
      width: 80vw;
      margin: 0 auto; } }

.header {
  background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.8), rgba(16, 29, 44, 0.8)), url(../../img/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem; }

@media only screen and (max-width: 600px) {
  .header {
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    background-image: none; } }

.btn {
  text-decoration: none;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 100px;
  color: #c69963;
  background-color: #101d2c;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  font-size: 1.4rem; }
  .btn__link {
    text-decoration: none;
    color: #c69963;
    background-color: #101d2c;
    transition: all 0.3s; }
  .btn:hover,
  .btn:hover > * {
    background-color: #c69963;
    color: #101d2c; }
  .btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  width: 25vw;
  perspective: 200rem;
  position: relative;
  height: 50rem;
  margin-right: 4rem;
  margin-bottom: 4rem; }
  .card__side {
    font-size: 2rem;
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .card__side--front {
      background-color: white; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.7));
        color: #c69963; }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.9), rgba(16, 29, 44, 0.9)); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, rgba(192, 217, 232, 0.9), rgba(192, 217, 232, 0.9)); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .card__picture-1 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_marketing_1.png); }
    .card__picture-2 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_marketing_2.png); }
    .card__picture-3 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_marketing_3.png); }
    .card__picture-4 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_marketing_4.png); }
    .card__picture-5 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_marketing_5.png); }
    .card__picture-6 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_marketing_6.png); }
    .card__picture-7 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_programming_1.png); }
    .card__picture-8 {
      background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.9)), url(../img/card_programming_2.png); }
    .card__picture-9 {
      background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.9)), url(../img/card_programming_3.png); }
    .card__picture-10 {
      background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.9)), url(../img/card_programming_4.png); }
    .card__picture-11 {
      background-image: linear-gradient(to right bottom, rgba(16, 29, 44, 0.7), rgba(16, 29, 44, 0.9)), url(../img/card_programming_5.png); }
    .card__picture-12 {
      background-image: linear-gradient(to right bottom, rgba(192, 217, 232, 0.7), rgba(192, 217, 232, 0.9)), url(../img/card_design_1.png); }
    .card__picture-13 {
      background-image: linear-gradient(to right bottom, rgba(192, 217, 232, 0.7), rgba(192, 217, 232, 0.9)), url(../img/card_design_2.png); }
    .card__picture-14 {
      background-image: linear-gradient(to right bottom, rgba(192, 217, 232, 0.7), rgba(192, 217, 232, 0.9)), url(../img/card_design_3.png); }
    .card__picture-15 {
      background-image: linear-gradient(to right bottom, rgba(192, 217, 232, 0.7), rgba(192, 217, 232, 0.9)), url(../img/card_design_4.png); }
  .card__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    color: #101d2c;
    width: 90%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    background-image: linear-gradient(to right bottom, rgba(198, 153, 99, 0.85), rgba(198, 153, 99, 0.85)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
    .card__details li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details li:not(:last-child) {
        border-bottom: 1px solid #c69963; }
  .card__cta {
    color: #101d2c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center; }
    .card__cta--1 {
      color: #101d2c; }
    .card__cta--2 {
      color: #c69963; }
    .card__cta--3 {
      color: #c0d9e8; }
  .card__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100; }
  .card__text {
    font-size: 1.4rem;
    font-style: italic; }

@media screen and (max-width: 650px) {
  .card__container {
    flex-direction: column; }
  .card {
    min-width: 400px;
    margin-right: 4rem;
    margin: 0 auto; }
  .card:not(:last-child) {
    margin-bottom: 4rem; } }

@media screen and (max-width: 1100px) {
  .card {
    min-width: 400px;
    margin-right: 4rem;
    margin: 0 auto;
    height: auto; }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none; }
      .card__side--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        margin-top: -4rem; }
    .card:hover .card__side--front {
      transform: rotateY(0); }
    .card__details {
      padding: 1rem 3rem; }
    .card__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 4rem;
      background-color: white !important; }
      .card__cta h3 {
        display: none; }
    .card__price-box {
      margin-bottom: 3rem; }
    .card__price-value {
      font-size: 4rem; }
  .card:not(:last-child) {
    margin-bottom: 4rem; } }

.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #101d2c;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block; }
  .popup__close:hover {
    color: #c69963; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    display: flex;
    overflow: hidden; }
  .popup__left {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column; }
  .popup__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    max-width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    color: #101d2c;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #101d2c;
    hyphens: auto; }

.form {
  padding: 3rem; }
  .form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form__input, .form__option {
    font-family: inherit;
    color: inherit;
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 40%;
    transition: all 1s; }
    .form__input:focus, .form__input:focus, .form__option:focus, .form__option:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 3px solid #00ab08; }
    .form__input:focus:invalid, .form__option:focus:invalid {
      border-bottom: 3px solid #620000; }
    .form__input::-webkit-input-placeholder, .form__option::-webkit-input-placeholder {
      color: #6d5d4b; }
  .form__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 0.3s; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.btn-block {
  display: block;
  width: 40%; }

@media screen and (max-width: 600px) {
  .main__content {
    padding: 0; } }

.card__container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap; }

.card-section {
  background-color: #54483a;
  display: flex;
  justify-content: space-around;
  padding-top: 3rem; }

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: #101d2c; }

.main__content {
  background-color: #54483a;
  padding: 10rem; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.9) 55%, transparent 55%), url(../img/card_programming_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55rem;
  margin-top: 10rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .book__form {
    width: 50%;
    padding: 2rem; }

@media screen and (max-width: 600px) {
  .main__content {
    padding: 3rem; }
  .book__form {
    width: 100%; } }

@media screen and (max-width: 1100px) {
  .book {
    background-image: none;
    box-shadow: none; }
  .form__input,
  .form__option,
  .btn {
    width: 80%;
    max-width: 500px;
    margin: auto; } }
