@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Media Query Manager

/*
-phone
-tab-port
-tab-lend
-big-desktop
*/
@mixin respond($breackpoint) {
  @if $breackpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breackpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breackpoint == tab-lend {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breackpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}
