.card-section__options {
  display: flex;
}
.card-section__option {
  display: flex;
  padding: 2rem 4rem;
  background-color: $color-secondary;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  cursor: pointer;

  &:not(:last-child) {
    border-right: 1px solid $color-primary;
  }

  &:hover,
  &:hover > * {
    background-color: $color-primary;
    color: $color-secondary;
    border: 1px solid $color-primary;
    margin: -1.5px 0;
  }

  &--text {
    font-size: 1.6rem;
    font-weight: 400;
    color: $color-primary;
    padding: 2rem 0;
    overflow: hidden;
  }
}

.card-section__option--icon {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid $color-secondary;
  border-radius: 50%;
  background-color: $color-secondary;
  fill: $color-secondary;

  &:active,
  &:focus {
    fill: $color-primary;
  }
}

.checked {
  background-color: $color-primary !important;
  color: $color-secondary !important;

  & h3 {
    color: $color-secondary !important;
  }

  & svg {
    fill: $color-secondary;
    background-color: $color-primary;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 600px) {
  .card-section__option {
    padding: 1rem 1rem;
  }
}

@media screen and (max-width: 900px) {
  .card-section__options {
    display: block;
  }
  .card-section__option:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid $color-primary;
  }
}
