.footer {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
      height: 10rem;
      width: auto;
    }
  }

  &__content {
    display: flex;
  }

  &__nav {
    display: flex;
    width: 50%;
    justify-content: center;
  }
  &__list {
    border-top: 1px solid $color-primary-dark;
    list-style: none;
  }
  &__item {
    display: inline-block;
    margin-top: 2rem;

    &:not(:last-child) {
      margin-right: 2rem;
    }
  }

  &__link {
    &:visited,
    &:link {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      color: $color-primary;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-primary-dark;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    width: 50%;
    color: $color-primary;
    display: flex;
    justify-content: flex-end;

    &__text {
      border-top: 1px solid $color-primary;
      width: 70%;
      display: inline;
      margin-right: 10rem;
      hyphens: auto;
      font-size: 1.4rem;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 1100px) {
  .footer {
    padding: 5rem 0;
  }
  .footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__nav {
    width: 100vw;
  }
  .footer__copyright {
    width: 100vw;
    margin-top: 4rem;
    max-width: 425px;

    &__text {
      border-top: none;
      width: 80vw;
      margin: 0 auto;
    }
  }
}
