.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)
    ),
    url(../../img/header-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

@media only screen and (max-width: 600px) {
  .header {
    width: 100vw;
    height: 100vh;
    margin-top: 10vh;
    background-image: none;
  }
}
