.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  font-size: 3rem;
  height: 10rem;
  background-color: $color-grey-dark-1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0rem 1.5rem 3rem rgba($color: $color-black, $alpha: 0.6);

  &__logo {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__link {
      height: 4rem;
    }
  }

  &__img {
    height: 4rem;
  }

  &__text {
    text-transform: uppercase;
    font-size: 2rem;
    color: $color-secondary;
  }

  &__list {
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    margin-right: 1.5rem;
    font-weight: 400;
  }

  &__link:link,
  &__link:visited {
    margin: 1.5rem 3rem;
    text-decoration: none;
    color: $color-secondary;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
    transform: rotate(5deg) scale(1.3);
  }
  ///////////////////////////////////////////
  &__checkbox {
    display: none;
  }

  &__button {
    display: none;
    background-color: transparent;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    border-radius: 1rem;
    z-index: 20;
  }

  &__icon {
    position: relative;
    margin-top: 1.9rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-secondary;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

@media only screen and (max-width: 1100px) {
  .navbar {
    font-size: 1.5rem;
    padding-top: 5rem;
    transition: all 0.3s;

    &__logo {
      padding-bottom: 5rem;
    }
    &__list {
      display: none;
    }
    &__item {
      padding-bottom: 4rem;
    }
    &__link {
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    &__button {
      display: block;
    }
  }

  .btn-nav {
    display: none;
  }

  .active {
    padding-top: 1.4rem;
    display: inline-block;
    height: 120vh;
    z-index: 100;
  }

  .active__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .active__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    text-transform: uppercase;
  }
}
