.btn {
  text-decoration: none;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 100px;
  color: $color-primary;
  background-color: $color-secondary;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  font-size: 1.4rem;

  &__link {
    text-decoration: none;
    color: $color-primary;
    background-color: $color-secondary;
    transition: all 0.3s;
  }

  &:hover,
  &:hover > * {
    background-color: $color-primary;
    color: $color-secondary;
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }
}
