.card {
  width: 25vw;
  perspective: 200rem;
  position: relative;
  height: 50rem;
  margin-right: 4rem;
  margin-bottom: 4rem;

  &__side {
    font-size: 2rem;
    height: 50rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    overflow: hidden;

    &--front {
      background-color: white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.7)
        );
        color: $color-primary;
      }

      &-2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary, 0.9),
          rgba($color-secondary, 0.9)
        );
      }

      &-3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary, 0.9),
          rgba($color-tertiary, 0.9)
        );
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    &-1 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_marketing_1.png);
    }

    &-2 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_marketing_2.png);
    }

    &-3 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_marketing_3.png);
    }

    &-4 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_marketing_4.png);
    }

    &-5 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_marketing_5.png);
    }

    &-6 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_marketing_6.png);
    }

    &-7 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_programming_1.png);
    }

    &-8 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.5),
          rgba($color-primary, 0.9)
        ),
        url(../img/card_programming_2.png);
    }

    &-9 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary, 0.7),
          rgba($color-secondary, 0.9)
        ),
        url(../img/card_programming_3.png);
    }

    &-10 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary, 0.7),
          rgba($color-secondary, 0.9)
        ),
        url(../img/card_programming_4.png);
    }

    &-11 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary, 0.7),
          rgba($color-secondary, 0.9)
        ),
        url(../img/card_programming_5.png);
    }

    &-12 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary, 0.7),
          rgba($color-tertiary, 0.9)
        ),
        url(../img/card_design_1.png);
    }
    &-13 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary, 0.7),
          rgba($color-tertiary, 0.9)
        ),
        url(../img/card_design_2.png);
    }

    &-14 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary, 0.7),
          rgba($color-tertiary, 0.9)
        ),
        url(../img/card_design_3.png);
    }

    &-15 {
      background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary, 0.7),
          rgba($color-tertiary, 0.9)
        ),
        url(../img/card_design_4.png);
    }
  }

  &__heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    color: $color-secondary;
    width: 90%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.85),
      rgba($color-primary, 0.85)
    );
  }

  &__details {
    padding: 3rem;

    ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
    }
    li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem;

      &:not(:last-child) {
        border-bottom: 1px solid $color-primary;
      }
    }
  }

  &__cta {
    color: $color-secondary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;

    &--1 {
      color: $color-secondary;
    }

    &--2 {
      color: $color-primary;
    }
    &--3 {
      color: $color-tertiary;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 100;
  }

  &__text {
    font-size: 1.4rem;
    font-style: italic;
  }
}

@media screen and (max-width: 650px) {
  .card__container {
    flex-direction: column;
  }
  .card {
    min-width: 400px;
    margin-right: 4rem;
    margin: 0 auto;
  }
  .card:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    min-width: 400px;
    margin-right: 4rem;
    margin: 0 auto;
    height: auto;

    &__side {
      height: auto;
      position: relative;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
        margin-top: -4rem;
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__details {
      padding: 1rem 3rem;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0%;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 4rem;
      background-color: white !important;

      & h3 {
        display: none;
      }
    }

    &__price-box {
      margin-bottom: 3rem;
    }

    &__price-value {
      font-size: 4rem;
    }
  }
  .card:not(:last-child) {
    margin-bottom: 4rem;
  }
}
