.popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-secondary;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &__content {
    @include absCenter;
    width: 75%;
    background-color: #fff;
    box-shadow: 0rem 2rem 4rem rgba($color: $color-black, $alpha: 0.2);
    border-radius: 3px;
    display: flex;
    overflow: hidden;
  }

  &__left {
    flex: 0 1 33%;
    display: flex;
    flex-direction: column;
  }
  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
  }
  &__img {
    display: block;
    max-width: 100%;
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    color: $color-secondary;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-secondary;
    hyphens: auto;
  }
}
