* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

  @include respond(phone) {
    font-size: 43.75%;
  }
  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8px/16px = 50%
  }
  @include respond(tab-lend) {
    font-size: 56.25%; //1rem = 9px, 8px/16px = 56.25%
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12px/16px = 75%
  }
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: $color-grey-dark-1;
}

::selection {
  background-color: $color-secondary;
  color: $color-primary;
}
