.heading__primary {
  color: $color-secondary;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: $color-secondary;
  letter-spacing: 0.2rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: $color-secondary;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  .heading__primary {
    &--main {
      font-size: 2.5rem;
      letter-spacing: 0.15rem;
      text-align: center;
    }
    &--sub {
      font-size: 1.5rem;
      letter-spacing: inherit;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  .heading-secondary {
    font-size: 2rem;
  }
}
