//Card container

.card__container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

//Card section

.card-section {
  background-color: $color-grey-dark-1;
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

//Footer

.footer {
  padding: 10rem 0;
  font-size: 1.4rem;
  background-color: $color-secondary;
}
