.main__content {
  background-color: $color-grey-dark-1;
  padding: 10rem;
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(#fff, 0.5) 0%,
      rgba(#fff, 0.9) 55%,
      transparent 55%
    ),
    url(../img/card_programming_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 55rem;
  margin-top: 10rem;
  border-radius: 3px;
  box-shadow: 0rem 1.5rem 4rem rgba($color: $color-black, $alpha: 0.15);

  &__form {
    width: 50%;
    padding: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .main__content {
    padding: 3rem;
  }
  .book {
    &__form {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1100px) {
  .book {
    background-image: none;
    box-shadow: none;
  }

  .form__input,
  .form__option,
  .btn {
    width: 80%;
    max-width: 500px;
    margin: auto;
  }
}
